<!-- Questions email-->
<div class="container"><br />
  <h1>Send Us Your Questions or Comments</h1><br />
  <form id= "emailForm">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label for="to">From:</label>
        <input type="text" class="form-control" name="from" id="from" readonly>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" name="subject" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label for="body">Body:</label>
        <textarea cols="5" rows="5" class="form-control" name="body" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-success">Send</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/email.js"></script>