<header class="jumbotron bg-secondary text-center devvoHeader">
  <h1 class="display-3 devvoHeading">Devvo</h1>
  <hr>
  <h2 class="mb-4">Whip your coding interview. Whip it good.</h2>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button id="signInButton" class="btn btn-warning text-dark justify-content-start align-items-center"><i class="googleIcon"></i>
          Login with Google</button>
      </div>
    </div>
  </div>
</main>

<script src="/js/login.js"></script>