<div class="container">
  <div class="row">

    <div class="col-12 my-5 pt-5" id="leader-header">
      <h2 class="text-center" margin-top="10px"> Devvo Successboard</h2>

    </div>

    <div class="col-sm-12 col-md-9">
      <div class="row">
        {{!-- {{#each UserTasks}} --}}
        <div class="col-lg-4 col-sm-12 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Interview-Ready Devs</h5>
              <div class="card-text"><b>Congrats!</b><br>The following developers have completed their prep!</div>
               <ul class="list-group list-group-flush">
                <li class="list-group-item">Smith Dever</li>
                <li class="list-group-item">Abel Coder</li>
                <li class="list-group-item">Cape Abeldude</li>
                <li class="list-group-item">Frilan Cer</li>
              </ul>
            </div>
           </div>
          </div>
         <div class="col-lg-8 col-sm-12 mb-3">
        <canvas id="myChart" width="1200" height="1000"></canvas>
       </div>
      </div>
    </div>


  </div>
</div>
</div>

<script src="/js/successBoard.js"></script>