html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.list-group-item {
  line-height: 2.5;
}

/*Shadow effect on the bottom of the nav bar*/
.navbar {
  box-shadow: 0px 4px 8px 0px #eb2a23;
  background-color: #eb2a23 !important;
}

.devvoHeader{
  background-image: url('../img/coding-background-image-9.jpg');
  background-repeat: no-repeat;
  color: white;
}

.googleIcon {
  background-image: url('../img/google-icon2.png');
  background-size: contain;
  height: 30px;
  width: 30px;
  margin-right: 6px;
}

#signInButton {
  display: flex;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 70px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

@media screen and (max-width: 576px) {
  .devvoHeader {
    background-position: center top;
  }
}