body {
    background: url('../img/coding-background-image-9.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#successboard-title {
    font-size: 40px;
    font-stretch: expanded;
    color: white;
  }
  
  .right-panel {
    background-color: white;
  }
  
  #my-chart-bar {
    background-color: white;
  }